.crystals {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.crystal {
    height: 200px;
    width: 200px;
}

.crystals_trial {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img {
    width: 95%;
}