.game {
    background-image: url("../images/lair.jpg");
    height: 848px;
    width: 1260px;
}

.crystals {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.crystal {
    height: 200px;
    width: 200px;
}

img {
    width: 95%;
}